.modal {
    position: fixed;
    top:0;
    left:0;

    height: 100vh;
    width: 100vw;

    background-color: rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 99;
}

.modal-content{
    position: fixed;
    left: 50%;
    top: 150px;
    
    transform: translate(-50%);

    height: calc(100vh - 200px);
    width: 75vw;

    background-color: darkcyan;

    z-index: 100;
}

.modal-header{
    position:fixed;
    left:50%;
    top:50px;
    transform: translate(-50%);
    width:75vw;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: gray;
    z-index: 101;
}

.content{
    margin: 10px;
}